h2 {
text-align: center;
font-family: 'Secular One', sans-serif;
color: rgb(26, 126, 76);
}

 .card{
color: snow;
background-color: skyblue;
border-width: 1px;
 } 

 #date{
     text-transform: capitalize;
     
     
 }
 body,html{
     height: 100%;
     width: 100%;
     background-color: yellow;
 }
 .header{
     color:pink;
 }
